:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)),
    url("../images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

/* navbar */
header nav {
  padding: 45px 0;
}

header nav .container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header nav .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header nav .container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav .container ul li {
  padding: 0 14px;
  font-size: 15px;
}

/* hero */
.hero-heading {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  left: 20px;
  transform: translateY(105%);
  padding: 35px 40px 25px 40px;
  border: 2px solid var(--white);
  width: 56%;
}

/* section 1 */

.section-1 {
  padding: 150px 0px;
}

.section-1 .container {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

.interactive-img {
  width: 731px;
  position: relative;
}

.interactive-img .interactive-text {
  width: 585px;
  padding: 90px 40px 0px 100px;
  background-color: var(--white);
  position: absolute;
  transform: translateX(75%);
  right: 0px;
  bottom: 0px;
}

.interactive-text h2 {
  margin-bottom: 1.5rem;
}

/* section 2 */

.section-2 .section-heading {
  font-family: "Josefin Sans", sans-serif;
  padding-right: 30px;
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading h2 {
  font-weight: 400;
}

.section-heading .btn {
  font-family: "Alata", sans-serif;
  color: var(--black);
  letter-spacing: 5px;
  font-weight: 400;
}

.section-heading .btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.grid-container {
  padding-bottom: 150px;
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 256px);
  gap: 1.7rem;
}

.grid-container .photo {
  position: relative;
  box-shadow: 0 10px 20px -10px black;
  cursor: pointer;
  transition: all 0.5s;
}

.grid-container .photo::before {
  transition: all 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust the height of the overlay */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  ); /* Adjust the gradient colors and opacity */
}

.grid-container .photo:hover::before {
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(246, 243, 243, 0.7),
    rgba(231, 229, 229, 0.893)
  );
}

.grid-container .text-lg {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.grid-container .photo:hover .text-lg {
  color: var(--black);
}

/* footer */

footer {
  padding: 40px 90px;
  background-color: var(--black);
  font-family: "Alata", sans-serif;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
}

footer .container .left-container {
  display: flex;
  flex-direction: column;
}

footer .container .left-container .logo {
  width: 140px;
  margin-bottom: 1.6rem;
}

.left-container .footer-main-menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

footer .container .right-container {
  display: flex;
  flex-direction: column;
}

.right-container .social-links {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 1.1rem;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

.right-container .copyright p {
  font-size: 15px;
  display: inline;
  color: var(--veryDarkGray);
}

.right-container .copyright p span {
  display: inline;
}
/* utility classes */
.container {
  max-width: 1150px;
  margin: auto;
}

.text-xxl {
  font-size: 4.4rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1;
}
.text-xl {
  font-size: 3.1rem;
  color: black;
  font-weight: 300;
}

.text-lg {
  font-size: 2rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1;
}

.text-sm {
  font-size: 15px;
  color: var(--veryDarkGray);
  font-weight: 600;
  line-height: 1.5;
}

li {
  font-size: 15px;
}

.btn {
  transition: all 0.3s ease-in-out;
  padding: 10px 40px;
  cursor: pointer;
  background: none;
  border: 2px solid var(--black);
}

a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

a:hover::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.12rem;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
}

a.social-link {
  font-size: 1.1rem;
}
a.social-link::before {
  width: 100%;
  bottom: -12px;
  height: 0.14rem;
}
span {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
